@mixin centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
@mixin absolute-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
